
# Django
backend/mediafiles
backend/db.sqlite3
*.log
*.pot
*.pyc

# Enviroments
backend/env
.env.prod
.env.prod.db
docker-compose.prod.yml

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/